body {
    background-color: #A9A9A9;
    font-size: 17px;
}

h1 {
    text-align: center;
    color: #FAFAD2;
    font-size: 50px;
}

section article header h1 {
    text-align: left;
    color: #FAFAD2;
    font-size: 30px;
}

p {
    text-align: justify;
}

ul li {
    list-style-type: none;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

nav ul li a {
    color: #FFFFFF;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

nav ul li a:hover {
    text-decoration: underline;
}

li:last-child a {
    text-decoration: underline;
}

.current {
    background-color: #D3D3D3;
}

section article p {
    text-overflow: clip;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

footer p {
    font-size: 15px;
}

footer p a {
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
    font-size: 19px;
}
